<div class="container" id="sign-up-form">
  <div class="row">
    <h1>Get in touch with like-minded people</h1>
    <h3>Create, study, make solutions together</h3>

    <div class="col-sm-offset-4 col-sm-4">
      <h3>Sign up <small>it's free to join!"</small></h3>
        

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :username %><br />
            <%= f.username_field :username, autofocus: true, placeholder: "username (will be publicly shown)",autocomplete: "username" %>
          </div>
          
          <div class="field">
            <%= f.label :address %><br />
            <%= f.address_field :address, autofocus: true, autocomplete: "address" %>
          </div>


          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

    </div>
    
  </div>
  
</div>
