<!DOCTYPE html>
<html>
  <head>
    <title>Cocoop</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.7.0/css/all.css" %>

  </head>

  <%= render '/layouts/header' %>

  <body>
  	<div class="jumbotron d-flex justify-content-center">
  		
	    <%= yield %>

  	</div>
  </body>
</html>
